<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="<%= assetPath('/js/alertify.js') %>"></script>
    <link rel="stylesheet" href="<%= assetPath('/css/layout.css') %>">
    <%- style %>
</head>
<body>
    <%- include('./_header.ejs') %>
    <%- body %>
    <%- include('./_footer.ejs') %>
    <%- script %>
    <script>
        <% if(flash.success && flash.success.length > 0){ %>
            alertify.success("<%= flash.success %>");
        <% } %>
        <% if(flash.error && flash.error.length > 0){ %>
            alertify.error("<%= flash.error %>");
        <% } %>
    </script>
</body>
</html>